<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Planner</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {% if all_courses %}
            <li class="nav-item active">
              <a class="nav-link" data-toggle="modal" data-target="#" href="#">ALL Req Courses<span class="sr-only">(current)</span></a>
            </li>{% endif %}{% if courses_left %}
            <li class="nav-item active">
              <a class="nav-link" data-toggle="modal" data-target="#courses_left" href="#">Courses Left<span class="sr-only">(current)</span></a>
            </li>{% endif %}{% if courses_completed %}
            <li class="nav-item active">
              <a class="nav-link" data-toggle="modal" data-target="#completed_courses" href="#">Completed Courses</a>
            </li>{% endif %}
            <li class="nav-item active">
              <a class="nav-link" data-toggle="modal" data-target="#user_profile" href="#">{{user.username}}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
