{% extends "main_base.html" %}

{% block base_body %}




<div class="row"  style="margin-top: 3cm;" >
	<div class="large-10 large-offset-2 column">
		<span class="label" style="float: left"><h2>List of all Requirement</h2></span>
		<button></button>
	</div>
</div>
<div class="row">
	<div class="large-10 large-offset-2 column">
		<table style="width:85%">
			<thead>
			    <tr>
			      <th width="150" style="width: 25%">Course code</th>
			      <th width="150" style="width: 75%">Course Title</th>
			    </tr>
			  </thead>
			  <tbody>
			  <form action="" method="post">
				  {% csrf_token %}

			  {% for course in degree_req %}
			    <tr>
			      <td>{{ course.code }}</td>
			      <td>{{ course.title }}</td>
			    </tr>
			  {% endfor %}
				 <input type="submit" value="Plan Schedule" class="button" style="float: right">
				</form>
			</tbody>
		</table>

	</div>
</div>

{% endblock base_body %}
